html,
body {
  margin: 0;
}

header {
  text-align: center;
  background-color: green;
  font-size: 50px;
  font-weight: bold;
  color: white;
  border-bottom: 1px solid;
}

.cssPrints {
  text-align: right;
}

.cssPrintTemp,
.cssPrintResult {
  border-bottom: 1px solid;
  height: 30px;
  line-height: 30px;
}

.cssBtns {
  background-color: pink;
}

.cssBtn {
  background-color: transparent;
}

.cssBtn:not(.cssBtnEqual) {
  width: 25%;
}

.cssBtnEqual {
  width: 50%;
}

.cssBtnRow1,
.cssBtnRow2,
.cssBtnRow3,
.cssBtnRow4,
.cssBtnRow5 {
  display: flex;
  align-items: center;
}

footer {
  text-align: center;
  background-color: yellow;
}
